@charset "utf-8";
/* Reset */
*{margin:0;padding:0;box-sizing:border-box;}
body,h1,h2,h3,h4,h5,h6,th,td,input,select,textarea,ul,li,dl,dt,dd,button,p,a{color:#555;font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;font-size:12px;font-weight:normal;word-spacing:.02em;letter-spacing:-.05em;margin:0;padding:0;}
body,html{text-align:center;-webkit-text-size-adjust:none;background:#fff;font-size:0;}
b{font-weight:600;}
h1,h2,h3,h4,h5,h6{box-sizing:border-box;width:auto;}
ul,ol,li{box-sizing:border-box;list-style:none;}
img,fieldset,iframe{border:none;}
img,input,select{vertical-align:middle;}
span,
a{display:inline-block;text-decoration:none;box-sizing:border-box;}
a:hover{text-decoration:none;}
caption{width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0;}
em,address,i{font-style:normal;}
table{border:0;border-spacing:0;width:100%;text-align:center;border-collapse:collapse;}
button{display:inline-block;border:none;cursor:pointer;box-sizing:border-box;background:transparent;}
.block,.block div{display:block;}
input[type="text"],input[type="password"],textarea,select{height:25px;border:1px solid #cccccc;color:#555;background-color:rgba(255,255,255,.9);vertical-align:middle;padding:0 5px;box-sizing:border-box;}
input[type=checkbox]{width:15px;height:14px;}
select{min-width:50px;padding-right:20px;background:url(../images/btn_select.png) right 5px center no-repeat, rgba(255,255,255,.9);;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select::-ms-expand {display: none;}

/* Common */
.blind{position:absolute;left:-9999px;top:-9999px;width:0;height:0;font-size:0;overflow:hidden;line-height:0;text-indent:-9999px;}
.clearfix{*zoom:1;}
.clearfix::before,
.clearfix::after{display:block;content:"";line-height:0;clear:both;}
.blind{position:absolute;left:-9999px;}

.fl{float:left;}
.fr{float:right;}
.alignL{text-align:left;}
.alignR{text-align:right;}
.alignC{text-align:center;}

.font_b{font-weight:bold;}
.font_black{color:#555 !important;;}
.font_red{color:#f86c6c !important;}
.font_deepred{color:#e95a5a !important;}
.font_skyblue{color:#1994dd !important;}
.font_blue{color:#156897 !important;}


#wrap{min-width:1500px;margin:0 auto;} /*레이아웃 확정 전 임시 입력*/
.wrap{width:1200px;margin:0 auto;}
.flex_wrap{display:flex;}
.f_sb{justify-content:space-between;}

/* Btn */
.btn_com{padding:4px 12px;font-size:13px;}
.btn_search{width:61px;height:34px;padding:6px 8px 9px 6px;font-size:14px;font-weight:bold;letter-spacing:-1.4px;}
.btn_grayline{border:1px solid #cdcdcd;background-color:#fff;color:#777777;}
.btn_grayline:hover, .btn_grayline:active{background-color:#cdcdcd;color:#fff;}
.btn_skyblueline{border:1px solid #1994dd;background-color:#fff;color:#1994dd;}
.btn_skyblueline:hover, .btn_skyblueline:active{background-color:#1994dd;color:#fff;}
.btn_greenline{border:1px solid #15981c;background-color:#fff;color:#15981c;}
.btn_greenline:hover, .btn_greenline:active{background-color:#15981c;color:#fff;}
.btn_blue{border:transparent;background-color:#156897;color:#fff;}
.btn_blue:hover, .btn_blue:active{background-color:#003366;color:#fff;}
.btn_skyblue{border:transparent;background-color:#1994dd;color:#fff;}
.btn_skyblue:hover, .btn_skyblue:active{background-color:#0066cc;color:#fff;}
.btn_black{border:transparent;background-color:#000000;color:#fff;}
.btn_black:hover, .btn_black:active{background-color:#333333;color:#fff;}

/* Table */
.tbl_list{border-top:2px solid #367fa9;}
.tbl_list th{font-size:14px;font-weight:bold;color:#000;letter-spacing:-1.4px;}
.tbl_list td{font-size:13px;letter-spacing:-0.33px;line-height:1.38;}
.tbl_list tr{border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}
.tbl_list tbody tr:hover,.tbl tbody tr:active{background-color:#f3f3f3;}

/* select & Input */
label{font-size:12px;}
select option:checked,
select option:hover{background:#f3f3f3;color:#555;}select option:checked,
select option:hover{box-shadow:0 0 10px 100px #f3f3f3 inset;color:#555;}

/* paginate */
.paginate{margin-top:27px;text-align:center}
.paginate a,.paginate .on{display:inline-block;position:relative;_width /**/:14px;min-width:23px;padding:1px 5px 2px 4px;color:#333;font-size:15px;line-height:normal;box-sizing:border-box;font-weight:normal;margin:0 3px;font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;}
.paginate a:hover, .paginate .on{color:#fff;background-color:#367fa9;}
.paginate .pre,
.paginate .next,
.paginate .first,
.paginate .last{_width /**/:47px;width:23px;height:23px;color:#777;background-color:#fff;border:1px solid #d7d7d7;margin:0 1px;font-size:10px;line-height:19px;font-weight:bold;}

/* jquery-ui custom */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;}
.ui-datepicker{z-index:9000!important;;}
.ui-datepicker-title{display:block;width:auto;margin:0 2em;}
.ui-datepicker-title select{min-width:auto;height:auto;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year{width:40%;margin-bottom:3px;padding:0;}
.ui-datepicker select.ui-datepicker-year{width:42%;}
.ui-datepicker select.ui-datepicker-month{margin-left:8px;}
.ui-datepicker-trigger,
.ui-monthpicker-trigger{cursor:pointer;}
.ui-monthpicker select.ui-datepicker-year{width:75px;}

/* Header */

/* Gnb */

/* Footer */


/* 상단 네비게이션 연습
.colon::after{content:':';margin:0 5px;}
.bc_lightpink{background-color:#fdedee;}
.bc_pink{background-color:#f54f75 !important;}
.bc_blue{background-color:#2095f2 !important;}

.cont_wrap{background-color:#d3d3f5;}
.tit{padding:30px 0 16px;}
.tit h1{margin-top:10px;font-size:25px;letter-spacing:-.05em;font-weight:bold;color:#000;}
.tit span{position:relative;top:4px;left:-4px;display:block;width:85px;line-height:25px;text-align:center;font-size:18px;font-weight:bold;color:#fff;letter-spacing:-.05em;}
.tit span.center{background-color:#f8574d;}

.con{padding:60px 0 60px;background-color:rgba(255,255,255,0.7);}
.status_warp{position:relative;right:-10px; width:730px;border-radius:55px;border:10px solid rgba(255, 255, 255, 0.5);overflow:hidden;}
.status_warp li{width:25%;margin-right:1px;padding:5px 0 6px;background-color:#7c8290;text-align:center;}
.status_warp li:last-child{margin-right:0;}  
.status_warp li.on{background-color:#0246cd;}
.status_warp li h2{position:relative;display:inline;font-size:18px;font-weight:bold;color:#fff;}
.status_warp li.on h2::before{position:absolute;top:2px;left:-20px;content:'\f1ad';font-family:'axicon';margin-right:5px;font-weight:normal;}
.status_warp li p{display:block;font-size:15px;color:#fff;}

.con h2{margin:5px 0 20px 7px;font-size:18px;font-weight:bold;color:#162954;letter-spacing:-.05em;}
.procedure_wrap{position:relative;}
.procedure_wrap select{position:absolute;top:-35px;width:160px;height:28px;padding-left:15px;border-color:#cccecd;font-size:14px;letter-spacing:-.05em;}
.procedure{width:300px;height:465px;padding:20px 20px;margin-bottom:5px;}
.progress{width:520px;height:465px;padding:20px 15px;}
.procedure,
.progress,
.damage_press{border:1px solid #bcbbc0;background-color:#fff;}

.etc{width:330px;}
.procedure ol li{height:80px;border-top:1px solid #ebebeb;}
.procedure ol li{display:flex;justify-content:space-between;}
.procedure ol div:first-child{position:relative;width:145px;height:32px;padding-left:32px; border-radius:16px; background-color:#52b004;line-height:32px;font-size:15px; color:#fff;align-self:center;}
.procedure ol div:first-child::before{position:absolute;left:8px;content:'\f06a';font-family:'axicon';color: #fff;font-size:20px;}
.procedure ol div:last-child{align-self:center;}
.procedure ol p{font-size:13px;color:#999;}
.procedure_wrap ul li{display:inline-block;color:#999;}
.procedure_wrap ul li:before{content:'';display:inline-block;width:9px;height:9px;margin:0 3px 0 5px;border-radius:2px;}
.procedure_wrap ul li:first-child:before{background-color:#2095f2}
.procedure_wrap ul li:nth-child(2):before{background-color:#f54f75}
.procedure_wrap ul li:last-child::before{background-color:#52b004}

.progress p{position:relative;margin-bottom:6px;padding-left:37px;border:2px solid #fb97b1;background-color:#fdedee;font-size:16px;color:#f94c79;line-height:48px;}
.progress p::before{position:absolute;left:10px;content:'\f06a';display:inline-block;font-family:'axicon';font-size:22px;}
.progress li{position:relative;margin-bottom:3px;padding-left:40px;font-size:16px;line-height:39px;}
.progress li::before{position:absolute;left:30px;content:'·';display:inline-block;font-size:25px; font-weight:bold;}
.progress .comple{background-color:#edf6ff;}
.progress .uncomple{background-color:#f6edfe;}
.progress li span{position:absolute;left:405px;font-size:14px;letter-spacing:-.05em;}
.progress li span::before{font-size:15px;font-family:'axicon';display:inline-block;margin-right:5px;}
.comple span{color:#2186fa;}
.comple span::before{content:'\e042';}
.uncomple span{color:#ce58ff;}
.uncomple span::before{content:'\e041';}
.chart_wrap{position:relative;}
.chart_wrap a{position:absolute;top:-30px;right:0;font-size:14px;font-weight:bold;color:#192d50;}
.chart_wrap a::after{content:'\e035';font-family:'axicon';margin-left:5px;font-weight:normal;}
.chart_wrap ul{display:flex;}
.chart_wrap li{border:1px solid #bdbdbd;}
.damage_press{height:233px;margin:6px 0 13px;border-bottom:none;}
.damage_press>li{position:relative;}
.damage_press>li>span{display:block;padding:0 16px;border-bottom:1px solid #ccc;font-size:15px;font-weight:bold;color:#979797;line-height:42px;}
.damage_press>li.on>span{margin:0 16px;padding:0;color:#1a2c52;}
.damage_press>li:first-child>span{border-top:none;}
.damage_press ul a{position:relative;display:flex;justify-content:space-between;padding-left:15px;}
.damage_press>li a::before{position:absolute;content:'·';left:5px;}
.damage_press>li>a{position:absolute;top:13px;right:20px;}
.damage_press ul{display:none;}
.damage_press>li.active ul{display:block;}
.damage_press>li ul{padding:10px 22px 20px;border-bottom:1px solid #ccc;}
.damage_press>li li{line-height:24px;}
.damage_press span{font-size:15px;color:#787878;}
.quicklinks{flex-wrap:wrap;align-content:space-between; width:100%;height:106px;}
.quicklinks li{display:inline-block;width:162px;height:50px;border:1px solid #7b8797;background-color:#fff;}
.quicklinks a{display:block;width:100%;height:100%;font-size:14px;font-weight:bold;color:#777;line-height:18px;letter-spacing:-.05em;}
 */


header{position:fixed;z-index:9999;width:270px;height:100%;background-color:#01152e;}
.colon::after{content:':';margin:0 5px;}
.bc_lightpink{background-color:#fdedee;}
.bc_pink{background-color:#f54f75 !important;}
.bc_blue{background-color:#2095f2 !important;}

.cont_wrap{margin-left:270px;}
.wrap{width:1300px;margin:0 auto;}

.tit_wrap{background-color: #01152e;}
.tit>div:first-child{position:relative;width:500px;background-color:#ff3b2f;}
.tit>div:first-child::before{position:absolute;left:-100%;content:'';display:inline-block;width:100%;height:125px; background-color:#ff3b2f;}
.tit h1{margin-top:5px;font-size:28px;letter-spacing:-.05em;color:#fff;}
.tit span{display:block;width:95px;border-radius:0 30px 30px 0; line-height:30px;text-align:center;font-size:18px;font-weight:bold;color:#fff;letter-spacing:-.05em;}
.tit span.center{margin-top:25px;background-color:#01152e;}

.con{padding:60px 0 60px;background-color:rgba(255,255,255,0.7);}
.status_warp{position:relative;right:-30px;}
.status_warp li{height:125px;}
.status_warp li:last-child{margin-right:0;}  
.status_warp li h2{position:relative;width:200px;margin-top:60px;padding-left:120px;font-size:19px;color:#8d9aab;border-right:1px solid #525662;}
.status_warp li:last-child h2{border-right:none;}
.status_warp li.on h2{font-weight:bold;color:#abe7fb;}
.status_warp li h2::before{position:absolute;top:-23px;left:43px; content:'';display:inline-block;width:64px;height:64px;border-radius:100%; background-color:
#e3e7f0;}
.status_warp li.on h2::before{background-color:#0da3d5;}
.status_warp li p{display:block;font-size:15px;color:#fff;}

.con h2{margin-bottom:15px;font-size:18px;font-weight:bold;color:#142c4a;letter-spacing:-.05em;}
.procedure_wrap select{width:160px;height:28px;margin:12px 0 9px; padding-left:15px;border-color:#cccecd;font-size:14px;letter-spacing:-.05em;}
.procedure{width:300px;height:451px;margin-bottom:5px;}
.progress{width:520px;height:451px;}
.procedure,
.progress{border-top:1px solid #00152d;border-bottom:1px solid #bcbcbc;}

.etc{width:380px;}
.procedure ol li{height:80px;border-top:1px solid #ebebeb;}
.procedure ol li{display:flex;justify-content:space-between;}
.procedure ol div:first-child{position:relative;width:145px;height:32px;padding-left:32px; border-radius:16px; background-color:#52b004;line-height:32px;font-size:15px; color:#fff;align-self:center;}
.procedure ol div:first-child::before{position:absolute;left:8px;content:'\f06a';font-family:'axicon';color: #fff;font-size:20px;}
.procedure ol div:last-child{align-self:center;}
.procedure ol p{font-size:13px;color:#999;}
.procedure_wrap ul li{display:inline-block;color:#999;}
.procedure_wrap ul li:before{content:'';display:inline-block;width:9px;height:9px;margin:0 3px 0 5px;border-radius:2px;}
.procedure_wrap ul li:first-child:before{background-color:#2095f2}
.procedure_wrap ul li:nth-child(2):before{background-color:#f54f75}
.procedure_wrap ul li:last-child::before{background-color:#52b004}

.progress p{position:relative;margin:9px 0 8px;padding-left:37px;background-color:#fdedee;font-size:16px;color:#f94c79;line-height:48px;}
.progress p::before{position:absolute;left:12px;content:'\f06a';display:inline-block;font-family:'axicon';font-size:19px;}
.progress li{position:relative;padding-left:30px;font-size:15px;line-height:46px;border-top:1px dashed #ebebeb;}
.progress li:last-child{border-bottom:1px dashed #ebebeb;}
.progress li::before{position:absolute;left:20px;content:'·';display:inline-block;font-size:23px;font-weight:bold;}
.progress li span{position:absolute;right:12px;width:75px;margin:12px 0;padding:0 15px 0 5px;border-radius:22px;line-height:22px;font-size:14px;letter-spacing:-.05em;text-align:right;color:#fff;}
.progress li span::before{font-size:15px;font-family:'axicon';text-align:left;}
.comple span{background-color:#5ba8ff;}
.comple span::before{content:'\e042';}
.uncomple span{background-color:#ff9e4b;}
.uncomple span::before{content:'\e041';}
.chart_wrap{position:relative;}
.chart_wrap a{display:block;margin:12px 0 9px;font-size:14px;font-weight:bold;color:#192d50;}
.chart_wrap a::after{content:'\e035';font-family:'axicon';margin-left:5px;font-weight:normal;}
.chart_wrap ul{display:flex;}
.chart_wrap li{border:1px solid #bdbdbd;}
.damage_press{height:233px;margin:6px 0 13px;border-bottom:none;}
.damage_press>li{position:relative;}
.damage_press>li>span{display:block;padding:0 16px;border-bottom:1px solid #ccc;font-size:15px;font-weight:bold;color:#979797;line-height:42px;}
.damage_press>li.on>span{margin:0 16px;padding:0;color:#1a2c52;}
.damage_press>li:first-child>span{border-top:none;}
.damage_press ul a{position:relative;display:flex;justify-content:space-between;padding-left:15px;}
.damage_press>li a::before{position:absolute;content:'·';left:5px;}
.damage_press>li>a{position:absolute;top:13px;right:20px;}
.damage_press ul{display:none;}
.damage_press>li.active ul{display:block;}
.damage_press>li ul{padding:10px 22px 20px;border-bottom:1px solid #ccc;}
.damage_press>li li{line-height:24px;}
.damage_press span{font-size:15px;color:#787878;}
.quicklinks{flex-wrap:wrap;align-content:space-between; width:100%;height:106px;}
.quicklinks li{display:inline-block;width:162px;height:50px;border:1px solid #7b8797;background-color:#fff;}
.quicklinks a{display:block;width:100%;height:100%;font-size:14px;font-weight:bold;color:#777;line-height:18px;letter-spacing:-.05em;}