@charset "utf-8";
/* common */
.tit_wrap{padding:41px 32px 14px;box-shadow:1px 1.6px 5px rgba(0, 0, 0, 0.1);}
.tit_wrap h2::before{display:inline-block;content:'';width:29px;height:32px;margin-right:15px;background:url(../images/ico_sub.png);vertical-align:bottom;}
.tit_wrap h2{font-size:26px;font-weight:bold;color:#000;letter-spacing:-1.3px;}
.sub_wrap{position:relative;margin-top:16px;}
.sub_wrap::before{position:absolute;z-index:-1;top:-16px;left:0;display:block;content:'';width:100%;height:14px;background-color:#efefef;}

/* situation02 */
.situation02 .search{padding:0 34px 0 37px;}
.situation02 .search select{width:180px;padding-left:10px;}
.situation02 .search input[type = text]{width:350px;padding-left:10px;}
.situation02 .period_multi input[type = text]{width:150px;}
.situation02 .period_multi input[type = text]:first-child{margin-right:35px;}
.situation02 .period_multi img:first-of-type{left:125px;}
.situation02 .period_multi img{right:6px;top:14px;}
.situation02 .period_multi::after{top:5px;left:50%;}
.situation02 .tbl_common td:nth-child(4){padding:0 70px;text-align:left;}
.situation02_1 .btn_wrap{position:relative;top:-20px;}
.situation02_1 .btn_wrap button{font-weight:bold;}
.situation02_1 .tbl_top p{font-size:16px;}