@charset "utf-8";

/* 상황판 */
.center, .training{min-height:100vh;background-color:#efefef;}
.situation_wrap{width:calc(100% - 430px);background-color:#fff;}
.situation_wrap>div{height:calc(100% - 131px);}
.situation_wrap>.state_wrap{height:114px;margin-bottom:15px;box-shadow:1.1px 1.6px 5px 0 rgba(0, 0, 0, 0.1);}
.state_wrap h2{height:92px;padding:27px 0;background-color:#fe7a79;font-size:30px;font-weight:bold;color:#fff;border-radius:10px 0 0 10px;word-break:keep-all;text-align:center;}
.state_wrap h2:first-child{width:186px;}
.training .state_wrap h2{background-color:#17aa97;}
.state_wrap h2:last-child{width:95px;font-size:36px;padding:23px 0;border-radius:0 10px 10px 0;}
.state_wrap>div>div{min-width:370px;padding:18px 48px 10px;background-color:rgba(254, 123, 122, 0.3);}
.training .state_wrap>div>div{background-color:rgba(23, 170, 151, 0.3);}
.state_wrap h3{font-size:24px;color:#000;font-weight:bold;letter-spacing:-1.8px;text-align:center;}
.state_wrap h3 b{font-size:25px;color:#fa3a39;letter-spacing:-1.88px;}
.state_wrap div>p{font-size:20px;color:#000;text-align:center;}
.state_wrap ul{width:520px;height:46px;margin:23px 16px;background-color:#dbdbdb;border-radius:100px;}
.state_wrap li{display:flex;width:25%;padding:9px 20px 9px;background-color:#dbdbdb;}
.state_wrap li:first-child{border-radius:100px 0 0 100px;}
.state_wrap li:last-child{border-radius:0 100px 100px 0;}
.state_wrap li span{width:28px;height:28px;border-radius:100px;background-color:#fff;font-size:14px;font-weight:bold;color:#dbdbdb;text-align:center;line-height:28px;}
.state_wrap li p{margin-left:8px;font-size:19px;font-weight:bold;color:#fff;}
.state_wrap li.done{background-color:#203d9c;}
.state_wrap li.done span{color:#203d9c;}
.state_wrap li.on{position:relative;background-color:#203d9c;border-radius:0 100px 100px 0;}
.state_wrap li:first-child.on{border-radius:50px;background: linear-gradient(to right,#203d9c 50%,transparent 75%);}
.state_wrap li:nth-child(2).on,
.state_wrap li:nth-child(3).on{background: linear-gradient(to right,#203d9c 50%,transparent 75%);}
.state_wrap li.on::before{position:absolute;z-index:1;top:-24px;left:calc(50% - 47px); display:inline-block;content:'';width:74px;height:74px;border:10px solid #203d9c;border-radius:60px;background-color:#fff;outline:1px solid #fff;}
.state_wrap li.on span{position:absolute;z-index:2;top:-10px;left:calc(50% - 14px);font-size:15px;color:#203d9c;}
.state_wrap li.on p{position:relative;top:5px;left:calc(50% - 32px);z-index:2;font-size:25px;color:#203d9c;}
.step_cont>div{overflow:hidden;}
.boardlist_wrap{position:relative;width:1100px;overflow:hidden;}
.board_list{position:relative;left:0;top:0;display:flex;}
.board_list>li{position:relative;width:1100px;}
.board_list>li>div:last-child{padding-bottom:20px;}
.live_wrap{min-height:48px;margin-bottom:20px;background-color:#d3e3fd;}
.live_wrap h3{align-self:center;width:144px;height:100%;font-size:17px;font-weight:bold;color:#203d9c;text-align:center;letter-spacing:-1.28px;}
.live_wrap ul{width:calc(100% - 144px);padding:2px 0px 12px 35px;flex-wrap:wrap;background-color:#e8f1ff;}
.live_wrap li{position:relative;z-index:1;margin:10px 15px 0 0;}
.live_wrap li a{width:26px;height:26px;border:3px solid #203d9c;background:#fff;border-radius:25px;font-size:14px;font-weight:bold;text-align:center;}
.live_wrap li.on a{border-color:#fd3a39;color:#fd3a39;}
.live_wrap li:first-child::before{display:none;}
.live_wrap li:before{position:absolute;z-index:0;top:calc(50% - 2.5px);left:-17px;display:inline-block;content:'';width:18px;height:5px;background-color:#203d9c;}
.step_top{margin:20px 0 6px;}
.step_top ul,.step_top li{display:inline-block;}
.step_top li{margin:0 5px;font-size:13px;}
.step_top li::before{display:inline-block;content:'';width:18px;height:18px;margin-right:5px;border-radius:2px;vertical-align:bottom;}
.step_top li:first-child:before{background-color:#fdd4a4;}
.step_top li:last-child:before{background-color:#c7f5ad;}
.btn_tree.on{display:none;}
.btn_tree, .btn_treeopen:hover{width:110px;height:25px;margin-left:30px;background-color:#203d9c;font-size:13px;color:#fff;}
.btn_treeclose:hover,.btn_treeopen{background-color:#071d68;}
.list_prev, .list_next{position:relative;top:500px;width:21px;height:37px;margin:0 10px;background-image:url(../images/btn_arrow.png);}
.list_prev{background-position:center left;margin-right:0px;}
.list_next{background-position:center right;margin-left:0px;}
.list_prev:disabled{background-position:top left;}
.list_next:disabled{background-position:top right;}
.list_prev:hover{background-position:bottom left;}
.list_next:hover{background-position:bottom right;}
.state_wrap{background-color:#fff;margin:10px 0 20px;}
.step_cont .step{width:32.9%;min-width:360px;margin-right:7px;}
.step_cont .step3{margin-right:0;}
.step>h3{background-color:#203d9c;font-size:20px;font-weight:bold;color:#fff;letter-spacing:-0.5px;text-align:center;line-height:50px;}
.step .list_depth1{border:1px solid #819cf4;border-top-width:0;}
.step .list_depth1 .tit:hover{background-color:#f3f3f3;}
.step li:last-child{border-bottom-width:0;}
.step li.done{background-color:#d1efc0;}
.step li.todo{background-color:#ffeeda;}
.step .tit{position:relative;padding:8px 16px 8px;border:1px solid #d3d3d3;border-width:0 0 1px;}
.list_depth2 .tit{padding:11px 20px 12px;}
.step .tit button{position:absolute;top:0;right:0;width:30px;height:100%;background-color:rgba(255, 255, 255, 0.5);border-left:1px solid #d1d5dc;}
.list_depth1 li button span::before{display:block;content:'\e114';font-family:'axicon';font-size:13px;font-weight:bold;color:#000;}
.list_depth1 li button.on span::before{content:'\e115';}
.list_depth1 li .list_depth2{display:none;}
.list_depth1 li.on .list_depth2{display:block;}
.list_depth1 p{font-size:17px;font-weight:bold;color:#203d9c;}
.list_depth2 p{font-size:14px;font-weight:bold;color:#4e83d3;letter-spacing:-1.2px;}
.step dt,.step dd{display:inline-block;font-size:13px;color:#777;}
.step dt::before{position:relative;top:2px;display:inline-block;content:'·';margin:0 5px 0 10px;font-size:25px;line-height:20px;}
.list_depth2 dt:first-child:before{margin:0 5px 0 0;}
.step dt::after{content:':';margin-left:5px;}
.count{position:absolute;bottom:12px;right:6px;display:inline-block;width:17px;height:17px;border-radius:3px;background-color:#ef3469;font-family:'Noto Sans KR', sans-serif;font-size:13px;font-weight:bold;color:#fff;line-height:15px;text-align:center;}
.manage_wrap{width:415px;padding:0 20px 20px;background-color:#fff;}
.phase_wrap{width:370px;margin:10px auto 25px;}
.phase_wrap ul{position:relative;width:100%;height:92px;}
.phase_wrap li{position:absolute;display:inline-block;width:100px;height:100%;background:url(../images/bg_phase.png);background-repeat:no-repeat;background-position:0 0;text-align:center;}
.phase_wrap li.on{background:url(../images/bg_phase_color.png);}
.phase_wrap li:first-child{left:0;z-index:5;}
.phase_wrap li:nth-of-type(2){left:93px;background-position-x:33.3%;z-index:4;}
.phase_wrap li:nth-of-type(3){left:185px;background-position-x:66.3%;z-index:3;}
.phase_wrap li:nth-of-type(4){left:279px;background-position-x:100%;z-index:2;}
.phase_wrap b{margin-right:7px;font-size:23px;color:#fff;line-height:51px;}
.phase_wrap p{margin:5px 7px 5px 0;word-break:break-word;font-size:12px;font-weight:bold;color:#fff;line-height:15px;}
.alert_wrap{margin-bottom:10px;padding:10px 5px;border:1px solid #29427a;border-width:1px 0;}
.alert_wrap h3{display:inline-block;height:20px;margin-right:5px;font-size:15px;font-weight:bold;color:#203d9c;letter-spacing:-0.38px;line-height:20px;vertical-align:top;}
.alert_wrap>div{position:relative;display:inline-block;width:calc(100% - 115px);height:20px;overflow:hidden;line-height:20px;}
.alert_wrap>span{position:relative;top:-3px;font-size:16px;color:#203d9c;    align-self: flex-end;}
.alert_wrap p{animation:bouncing_text 4s linear infinite;font-size:15px;letter-spacing:-0.38px;margin:0;-moz-animation:bouncing_text 4s linear infinite;-moz-transform:translateX(50%);position:absolute;transform:translateX(50%);-webkit-animation:bouncing_text 8s linear infinite;-webkit-transform:translateX(50%);}
@-moz-keyframes bouncing_text{
  0%{-moz-transform:translateX(150%);}
100%{-moz-transform:translateX(-150%);}}
@-webkit-keyframes bouncing_text{
  0%{-webkit-transform:translateX(150%);}
  100%{-webkit-transform:translateX(-150%);}}
@keyframes bouncing_text{
  0%{-moz-transform:translateX(150%);transform:translateX(150%);-webkit-transform:translateX(150%);}
  100%{-moz-transform:translateX(-150%);transform:translateX(-150%);-webkit-transform:translateX(-150%);}}
.task{margin-bottom:20px;border:1px solid #3c7ed4;}
.task>h3{background-color:#3c7ed4;border-color:#3c7ed4;}
.task .tit{padding:9px 16px 9px;font-size:15px;font-weight:bold;color:#333;letter-spacing:-0.38px;line-height:1.67;}
.task .list_depth1 p{font-size:15px;color:#333;line-height:15px;}
.link_wrap,.alarm_wrap{margin-top:20px;}
.link_wrap,.link_wrap li,
.alarm_wrap,.alarm_wrap li{border:1px solid #d3d3d3;}
.link_wrap li{height:80px;border-width:0 0 1px;background-image:url(../images/bg_link.png);background-repeat:no-repeat;background-position-x:17px;}
.link_wrap li:first-child{background-position-y:0;}
.link_wrap li:nth-child(2){background-position-y:50%;}
.link_wrap li:last-child{border-width:0;background-position-y:100%;}
.alarm_wrap li{width:50%;border-width:0 1px 0 0;text-align:center;background-image:url(../images/bg_alarm.png);background-repeat:no-repeat;background-position:top 20% center;}
.alarm_wrap li:last-child{background-position-y:125%;}
.link_wrap a, .alarm_wrap a{display:block;font-size:16px;font-weight:bold;line-height:25px;letter-spacing:-0.4px;}
.link_wrap a:hover, .alarm_wrap a:hover{text-decoration:underline;}
.link_wrap a{padding:28px 0 28px 82px;}
.alarm_wrap a{padding:72px 36px 14px 36px;}

/* 경보 상황이 없는 none 상황 */
.none .list_depth1 li div{display:flex;flex-direction:column;height:260px;justify-content:center;}
.none .list_depth1 img{display:block;width:20px;height:20px;margin-bottom:10px;align-self:center;}
.none .list_depth1 span{display:block;align-self:center;font-size:15px;}
.none .alert_wrap span{color:#afafaf;}
.none .board_list>li .state_wrap h3{font-size:20px;}
.none .board_list>li .live_wrap span{font-size:15px;line-height:26px;}
.none .board_list>li .live_wrap img{margin-right:5px;padding-top:2px;vertical-align:top;}
.none .board_list>li>div:last-child>div:last-child{height:690px;flex-direction: column;justify-content:center;background-color:#f8f8f8;}
.none .board_list>li>div:last-child>div:last-child img{display:block;width:20px;height:20px;margin-bottom:10px;align-self:center;}
.none .board_list>li>div:last-child>div:last-child span{display:block; align-self:center;font-size:18px;}
.none .list_next{background-position: top right;}
.none .step_top button{}


/* common */
.tit_wrap{padding:41px 32px 14px;box-shadow:1px 1.6px 5px rgba(0, 0, 0, 0.1);}
.tit_wrap h2::before{display:inline-block;content:'';width:29px;height:32px;margin-right:15px;background:url(../images/ico_sub.png);vertical-align:bottom;}
.tit_wrap h2{font-size:26px;font-weight:bold;color:#000;letter-spacing:-1.3px;}
.sub_wrap{position:relative;margin-top:16px;padding:30px;}
.sub_wrap::before{position:absolute;z-index:-1;top:-16px;left:0;display:block;content:'';width:100%;height:14px;background-color:#efefef;}

/* situation */
.situation01>div:first-child{height:895px;}
.situation01 select{width:100%;border:1px solid #6f6f6f;font-size:16px;letter-spacing:-0.4px;}
.situation01 h3{padding:13px;font-size:18px;font-weight:bold;color:#fff;text-align:center;background-color:#3c87d4;}
.tasklist_wrap>div:first-child>div h3{background-color:#284278;}
.tasklist_wrap{width:1034px;margin-right:20px;}
.tasklist_wrap select{height:40px;margin-bottom:3px;line-height:40px;padding-left:15px;}
.tasklist_wrap>div{width:calc(50% - 10px);height:100%;}
.tasklist_wrap>div>div{height:100%;}
.tasklist{height:calc(100% - 93px);padding:9px;border:1px solid #d3d3d3;overflow-y:scroll;}
.tasklist li{width:100%;height:45px;margin-bottom:4px;padding-left:15px;font-size:16px;line-height:45px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{border:1px solid #cdcdcd ;background:#e8ecf6;color:#555;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{border: 1px solid #cdcdcd}
.taskdetail_wrap{width:528px;}
.taskdetail_wrap select{height:33px;margin-bottom:3px;line-height:33px;padding-left:10px;border:1px solid #cdcdcd;}
.taskdetail_wrap>div:first-child{margin-bottom:20px;padding:10px 20px 13px;border:1px solid #d3d3d3; background-color:#f8f8f8;}
.taskdetail_wrap th, .taskdetail_wrap td{padding:5px 0; text-align:left;}
.taskdetail_wrap th::before{position:relative;top:-3px;display:inline-block;content:'';width:5px;height:5px;margin-right:8px;border-radius:50%;background-color:rgba(47, 47, 47, 0.7);}
.taskdetail_wrap th label{font-size:16px;font-weight:bold;color:#2f2f2f;letter-spacing:-0.4px;}
.taskdetail_wrap td label{margin:0 10px 0 5px;font-size:14px;vertical-align:middle;}
.taskdetail_wrap .btn_wrap{margin-top:15px;padding-top:9px;border-top:1px solid #d3d3d3;font-weight:bold;}
.btn_task{margin-top:12px;}
.btn_task button{width:90px;height:40px;border-radius:3px;font-weight:bold;line-height:40px;}
.task_preview{width:526px;height:618px;border:1px solid #d3d3d3;}
.situation .search{padding:0 34px 0 37px;}
.situation .search select{width:180px;padding-left:10px;}
.situation .search input[type = text]{width:350px;padding-left:10px;}
.situation .period_multi input[type = text]{width:150px;}
.situation .period_multi input[type = text]:first-child{margin-right:35px;}
.situation .period_multi img:first-of-type{left:125px;}
.situation .period_multi img{right:6px;top:14px;}
.situation .period_multi::after{top:5px;left:50%;}
.situation .tbl_com td:nth-child(4){padding:0 70px;text-align:left;}
.tbl_top p{font-size:16px;}
.tbl_com .btn_search{padding:4px 11px;border-radius:3px;font-size:14px;font-weight:bold;line-height:18px;}
.tbl_com .btn_search::before{display:inline-block;content:'';width:13px;height:17px;margin-right:2px;background:url(../images/ico_search.png)no-repeat;vertical-align:bottom;}
.tbl_com .btn_search:hover::before{filter:brightness(500%);}
.tbl_com .btn_skyblueline::before{background-position-y:100%;}
.tbl_com .btn_mintline::before{background-position-y:0;}
.tbl_com .btn_search:hover::before{background:url(../images/ico_search_wh.png)no-repeat;}
.tbl_com .btn_skyblueline:hover::before{background-position-y:100%;}
.tbl_com .btn_mintline:hover::before{background-position-y:0;}
.tbl_com .axi{vertical-align:sub;}
.tbl_com a:hover .axi{color:#000;}
.tbl_com .axi-save{font-size:20px;}

/* standard */
.standard02 .search input[type = text]{width:300px;}
.standard01 .tbl_com td:nth-child(3),
.standard02 .tbl_com td:nth-child(4),
.standard03 .tbl_com td:nth-child(3),
.standard04 .tbl_com td:nth-child(3){padding:0 70px;text-align:left;}
.manual_attach h3{padding:10px 0;font-size:13px;}
.btn_upload{cursor:pointer;}
.manual_attach #dropZone{height:auto;margin-top:10px;padding:10px 0 10px 10px;background-color:#e8e8e8;text-align:left;font-size:14px;}
.manual_attach li{line-height:35px;}
.manual_attach span{margin:0 5px;color:#aaaaaa;}
.manual_attach .btn_file{position:relative;top:3px;}
.admin02_write .manual_body,.admin02_write .tit_manual{padding:10px 0;}
.btn_delfile{position:relative;top:3px;display:inline-block;width:14px;height:14px;background:url(../images/ico_pop_close_red.png)no-repeat center center;background-size:80%;}
.btn_upload_wrap{position:relative;display:inline-block;}
.btn_upload_wrap:hover button{background-color:#3c7ed3;color:#fff;}
.btn_upload_wrap input[type=file]{position:absolute;z-index:1;left:0;opacity:0;width:100%;height:100%;cursor:pointer;}
#fileDragDesc{text-align:center}

/* common */
.common01 .tbl_view th{width:10%;padding:10px 20px 10px 0;line-height:50px;text-align:right;}
.common01 .tbl_view td{width:23%;text-align:left;line-height:50px;}
.common01 input{width:auto;}
.common01 select{width:70px;padding-right:0;}
.common01 .tbl_view span{padding-left:6px;}
.common02 .search input[type = text]{width:300px;}
.common02 .tbl_com td:nth-child(4){padding:0 70px;text-align:left;}
.attendee_wrap{text-align:left;}
.attendee_wrap li{display:inline-block;background-color:#ddd;margin-top:10px; padding:0 10px;border-radius:3px;}
.attendee_wrap li::after{content:'\f1b4';font-family:'axicon';vertical-align:middle;cursor:pointer;margin-left:5px;}
.common04 .flex_wrap .tbl_wrap:first-child{width:35%;}
.common04 .flex_wrap .tbl_wrap:last-child{width:63%;}
.common04 h3{font-size:18px;margin-bottom:15px;font-weight:bold;line-height:25px;color:#2e4057;}
.common04 h3::before{display:inline-block;content:'\f192';font-family:'axicon';margin-right:5px;color:#aaa;}